* {
    margin: 0px;
    padding: 0px;
}

/* common shared styles */
body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Secular One', sans-serif;

}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: 0px;
}

/* header related styles */
.banner {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    gap: 97px;
    justify-content: space-around;
    align-items: center;
}

.banner-info {
    padding: 197px 0px 100px 240px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    max-width: 700px;
    margin-bottom: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 634px;
    margin-bottom: 32px
}

.banner-image {
    padding: 50px 240px 0px 0px;
}

/*--------- main section start here------*/


/* .advertisement-info {

    text-align: center;
}

.advertisement-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.advertisement-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;

} */

/* Support Section start here */
/* .services {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

}

.services-container {
    display: flex;
    justify-content: center;

} */

/* discount section start here */

.discount {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    gap: 186px;
}

.discount-info {
    padding: 230px 0px 162px 395px;
}

.discount-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}

.discount .color-change {
    color: #E55473;

}

.discount-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 650px;
    text-align: center;
    margin-bottom: 32px;
}

.discount-image {
    padding: 100px 430px 100px 0px
}

#discount-btn {
    margin: 0px 0px 0px 203px;
}