* {
    margin: 0px;
    padding: 0px;
}

/* common shared styles */
body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Secular One', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: 0px;
}

/* header related styles */
.banner {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    gap: 97px;
    justify-content: space-around;
    align-items: center;
}

.banner-info {
    padding: 197px 0px 100px 240px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    max-width: 700px;
    margin-bottom: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 634px;
    margin-bottom: 32px
}

.banner-image {
    padding: 50px 240px 0px 0px;
}